h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    color: #ffff;
}

h2{
    text-align: center;
    color: #fff;
}

#myhobby{
    background-image: linear-gradient(to top left, #27abc6, #5de83b, #f49a17, #f70b05, #f42172);
    padding: 40px;
    margin: 30px auto;
    width: 50%;
    color: #fff;
}

.text{
    float: right;
    font-size: 20px;
}
    h1{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
        border: 2px solid black;
        border-radius: 4px;
        color: #ffff;
    }

    h2{
        text-align: center;
        color: #fff;
    }

    #myhobby{
        background-image: linear-gradient(to top left, #27abc6, #5de83b, #f49a17, #f70b05, #f42172);
        padding: 30px;
        margin: 30px auto;
        width: 50%;
        color: #fff;
        border-radius: 10px;
        line-height: 20px;
    }
    button{
        display: block;
        cursor: pointer;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 20px;
        padding: 15px 30px;
        margin: 30px auto;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        background-color: black;
        transition: all 200ms ease-in-out;
        box-shadow: rgba(37,39,89,0.08) 0px 8px 8px 0;
    }
    button:hover{
        background-color: white;
        color: black;
    }

    .image{
        display: block;
        text-align: center;
    }

    a{
        color: #fff;
        margin: 10px 10px;
    }